@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");

body {
    text-align: center;
    margin: 0px;
}

/*Nav*/
nav {
    overflow: hidden;
}

nav a {
    float: none;
    text-align: center;
    padding: 36px;
    font-family: "Cherry Bomb One", "Impact", sans-serif;
    font-size: 24px;
}

/*Header*/
h1 {
    font-family: "Cherry Bomb One", "Impact", sans-serif;
    font-size: 84px;
    margin: 0px;
}

img {
    height: 25%;
    width: 25%;
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
}

/*Section*/
p,
h2,
li,
details {
    text-align: justify;
    margin-right: 10%;
    margin-left: 10%;
    font-family: "Yomogi", "Helvetica", sans-serif;
    font-size: 24px;
}

li {
    text-align: left;
}

a:link {
    text-decoration: none;
}

.validated {
    border: 0px;
    width: 88px;
    height: 31px;
    border-radius: 0%;
}

/* Homepage */
#homepage {
    background-color: #634e39;
}

#homepage_nav {
    background-color: #ac9579;
}

#homepage_nav a {
    color: #707048;
}

#homepage_benny {
    border-color: #ac9579;
}

a.homepage:link {
    color: #ac9579;
}

a.homepage:hover {
    color: #707048;
}

/* Benny's Food*/
#food_nav {
    background-color: #2b3371;
}

#food_nav a {
    color: #f2d02e;
}

#food_benny {
    border-color: #2b3371;
}

#container {
    display: flex;
    justify-content: center;
}

#food {
    background-color: #67ad40;
}

/* Friskies Paté Nutrition Information table */
table,
th,
td {
    border-collapse: collapse;
    border: 1px solid black;
}

table {
    width: 100%;
}

th,
td {
    width: 11%;
    font-family: "Yomogi";
}

.category {
    background-color: #2b3371;
    color: white;
}

.salmon {
    background-color: #ed7e8e;
}

.mariners_catch {
    background-color: #3cadda;
}

.whitefish_tuna {
    background-color: #139cc1;
}

.chicken_tuna {
    background-color: #e87546;
}

.turkey_giblets {
    background-color: #743e92;
}

.mixed_grill {
    background-color: #a86d41;
}

.liver_chicken {
    background-color: #f19c3f;
}

.poultry_platter {
    background-color: #fc922e;
}

/* Benny's Toys*/
#toys_nav {
    background-color: #ffc464;
}

#toys_nav a {
    color: #fe5419;
}

#toys_benny {
    border-color: #ffc464;
}

details > summary {
    list-style-type: "+";
}

details[open] > summary {
    list-style-type: "-";
}

a.toys:link {
    color: #ffc464;
}

a.toys:hover {
    color: #fe5419;
}

#toys {
    background-color: #5dced7;
}
